<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tencent.shadow.sample.host">

    <uses-sdk
        android:maxSdkVersion="34"
        android:minSdkVersion="24"
        tools:ignore="GradleOverrides" />

    <application
        android:name="com.tencent.shadow.sample.host.HostApplication"
        android:allowBackup="true"
        android:label="Shadow Dyanamic测试宿主App"
        android:theme="@android:style/Theme.DeviceDefault"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.tencent.shadow.sample.host.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--        <activity-->
        <!--            android:name=".plugin_view.HostAddPluginViewActivity"-->
        <!--            android:process=":plugin" />-->

        <!--        <provider-->
        <!--            android:authorities="${applicationId}.contentprovider.authority.dynamic"-->
        <!--            android:name="com.tencent.shadow.core.runtime.container.PluginContainerContentProvider"-->
        <!--            android:grantUriPermissions="true"-->
        <!--            android:process=":plugin" />-->

        <!--        <service-->
        <!--            android:name="com.tencent.shadow.sample.host.PluginProcessPPS"-->
        <!--            android:process=":plugin" />-->
        <!--        <service-->
        <!--            android:name="com.tencent.shadow.sample.host.Plugin2ProcessPPS"-->
        <!--            android:process=":plugin2" />-->
        <activity
            android:name=".plugin_view.HostAddPluginViewActivity" />

        <provider
            android:name="com.tencent.shadow.core.runtime.container.PluginContainerContentProvider"
            android:authorities="${applicationId}.contentprovider.authority.dynamic"
            android:exported="false"
            android:grantUriPermissions="true"/>

        <service
            android:name="com.tencent.shadow.sample.host.PluginProcessPPS"/>
        <service
            android:name="com.tencent.shadow.sample.host.Plugin2ProcessPPS"/>

        <activity
            android:name="com.tencent.shadow.sample.host.PluginLoadActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <!--dynamic activity注册
          注意configChanges需要全注册
          theme需要注册成透明
          -->
        <activity
            android:name="com.tencent.shadow.sample.plugin.runtime.PluginDefaultProxyActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:hardwareAccelerated="true"
            android:launchMode="standard"
            android:multiprocess="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.tencent.shadow.test.dynamic.runtime.container.PluginSingleInstance1ProxyActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:multiprocess="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.tencent.shadow.test.dynamic.runtime.container.PluginSingleTask1ProxyActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:multiprocess="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"

            />
        <!--dynamic activity注册 end -->
        <receiver android:name=".plugin_view.MainProcessManagerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="sample_host.manager.startPluginService" />
            </intent-filter>
        </receiver>
    </application>

</manifest>