<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.opencv">

    <application>
        <provider
            android:name=".assists.AssistsOpencvFileProvider"
            android:authorities="${applicationId}.assistsopencv.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/assists_opencv_provider_paths" />
        </provider>

    </application>
</manifest>
