<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ven.assists_web">

    <application>
        <provider
            android:name="com.ven.assists.web.CustomFileProvider"
            android:authorities="${applicationId}.assistsweb.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/assists_web_provider_paths" />
        </provider>

    </application>

</manifest>